.browse-history-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
}

.browse-history-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .browse-history-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.img-logo-and-title-container {
  display: flex;
  flex-direction: row;
}

.time {
  color: #475569;
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  text-align: left;
}

.img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.title-and-domain-url-container {
  display: flex;
  flex-direction: row;
}

.title {
  color: #64748b;
  font-size: 17px;
  font-weight: 800;
  margin-right: 20px;
  /* margin: 0px;
  padding: 0px; */
}

.domainUrl {
  color: #475569;
  margin-right: 20px;
}

.button {
  height: 50px;
  width: 55px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.delete-logo {
  height: 30px;
  width: 30px;
}
